@font-face{
  font-family: glaive;
  src: url(/fonts/FontsFree-Net-GlaiveRegular.ttf)
}

body {
    background: black;
    overflow: hidden;
}
#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 600px;
    background-image: url(./images/gameBackground.jpg);
    background-size: cover;
    font-family: 'Orbitron', sans-serif;
}
footer, article {
  font-family: 'Orbitron', sans-serif;
  position: absolute;
  width: 100%;
  color: white;
  font-size: 15px;
  text-shadow: 1px 1px 1px #737373; 
  background: rgba(255,255,255,0.4);
  background:black;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 30px;
  line-height: 30px;
  padding-right: 20px;
}
footer a{
  color: gold;
}

.pepe{
  
  background-image: url(./images/gameBackground.jpg);
  background-size: cover;
  width: 900px;
  height: 600px;
}

.pablo{
  background-image: url(./images/button_play.png);
  

}

.pepe h1{
  font-family: glaive;
}